<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/style1.css">

</head>
<body>
<section class="home">
    <header class="header">
        <a href="#" class="logo"><ion-icon name="cafe"></ion-icon>Coffee</a>

        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Menu</a>
            <a href="#">Reviews</a>
            <a href="#">Contact</a>

        </nav>


    </header>

    <!-- <section class="home">-->
    <div class="content">
        <h2>Coffee Build Your Mind</h2>
        <p>I was taken by the power that savoring a simple cup of coffee can have to connect people and create community</p>
        <a href="#">Get Started</a>

    </div>

    <div class="wrapper-login">
        <h2>RegistrationPage</h2>
        <form  method="post" th:action="@{/registerAppointment}" th:object="${appointment}">
            <div class="input-box">
                <span class="icon"></span>
                <input type="number" th:field="*{id}"name="id"required/> </br>
                <label>Id</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="aroma"></ion-icon></span>
                <input type="text" th:field="*{fullName}" name="fullName"required/></br>
                <label>Serial_number</label>
            </div>


            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="number" th:field="*{number}"  name="number"required/></br>
                <label>number</label>
            </div>

<!--            <div class="input-box">-->
<!--                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>-->
<!--                <input type="email" th:field="*{email}"  name="email"required/></br>-->
<!--                <label>email</label>-->
<!--            </div>-->
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="date" th:field="*{date}"  name="date"required/></br>
                <label>date</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="time" th:field="*{time}"  name="time"required/></br>
                <label>time</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="text" th:field="*{country}"  name="country"required/></br>
                <label>country</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="text" th:field="*{city}"  name="city"required/></br>
                <label>city</label>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Update</button>



        </form>

    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script module src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!--<div class="box">-->
    <!--  <h1>Register-page</h1>-->
    <!--  <div class="form-box">-->

    <!--  </div>-->
    <!--</div>-->
</section>
</body>
</html>